
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="{% static 'assets/image/png' %}" href="{% static 'assets/images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/themify/themify-icons.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/lightbox2/css/lightbox.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">

<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="wrap-menu-header gradient1 trans-0-4">
			<div class="container h-full">
				<div class="wrap_header trans-0-3">
					<!-- Logo -->
					<div class="logo">
						<a href="index.html">
							<img src="{% static 'assets/images/icons/logo.png' %}" alt="IMG-LOGO" data-logofixed="{% static 'assets/images/icons/logo2.png' %}">
						</a>
					</div>

					<!-- Menu -->
					<div class="wrap_menu p-l-45 p-l-0-xl">
						<nav class="menu">
							<ul class="main_menu">
								<li>
									<a href="{% url 'homePage' %}">Home</a>
								</li>

								<li>
									<a href="{% url 'ItemPage' %}">Menu</a>
								</li>

								<li>
									<a href="{% url 'reservation' %}">Reservation</a>
								</li>
								  {% if request.session.UserName %}
									<li><a href="{% url 'Userlogout' %}"><i class="fa fa-user s_color"></i> Welcome {{request.session.UserName}} /Logout</a></li>
									{% else %}
									<li><a href="{% url 'UserLogin' %}"><i class="fa fa-user s_color"></i> Register/Login</a></li>
									{% endif %}

								<li>
									<a href="{% url 'gallery' %}">Gallery</a>
								</li>

								<li>
									<a href="{% url 'aboutPage'%}">About</a>
								</li>

<!--								<li>-->
<!--									<a href="blog.html">Blog</a>-->
<!--								</li>-->

								<li>
									<a href="{% url 'contactPage'%}">Contact</a>
								</li>
							</ul>
						</nav>
					</div>

					<!-- Social -->
					<div class="social flex-w flex-l-m p-r-20">
<!--						<a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>-->
<!--						<a href="#"><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>-->
<!--						<a href="#"><i class="fa fa-twitter m-l-21" aria-hidden="true"></i></a>-->

						<button class="btn-show-sidebar m-l-33 trans-0-4"></button>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Sidebar -->
	<aside class="sidebar trans-0-4">
		<!-- Button Hide sidebar -->
		<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

		<!-- - -->
		<ul class="menu-sidebar p-t-95 p-b-70">
			<li class="t-center m-b-13">
				<a href="{% url 'homePage' %}" class="txt19">Home</a>
			</li>

			<li class="t-center m-b-13">
				<a href="{% url 'ItemPage' %}" class="txt19">Menu</a>
			</li>

			<li class="t-center m-b-13">
				<a href="{% url 'gallery' %}" class="txt19">Gallery</a>
			</li>

			<li class="t-center m-b-13">
				<a href="{% url 'aboutPage'%}" class="txt19">About</a>
			</li>

<!--			<li class="t-center m-b-13">-->
<!--				<a href="blog.html" class="txt19">Blog</a>-->
<!--			</li>-->

			<li class="t-center m-b-33">
				<a href="{% url 'contactPage'%}" class="txt19">Contact</a>
			</li>

			<li class="t-center">
				<!-- Button3 -->
				<a href="{% url 'reservation' %}" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
					Reservation
				</a>
			</li>
		</ul>

		<!-- - -->
		<div class="gallery-sidebar t-center p-l-60 p-r-60 p-b-40">
			<!-- - -->
			<h4 class="txt20 m-b-33">
				Gallery
			</h4>

			<!-- Gallery -->
			<div class="wrap-gallery-sidebar flex-w">
				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'assets/images/photo-gallery-01.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'assets/images/photo-gallery-thumb-01.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'assets/images/photo-gallery-02.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'assets/images/photo-gallery-thumb-02.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'assets/images/photo-gallery-03.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'assets/images/photo-gallery-thumb-03.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'assets/images/photo-gallery-05.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'assets/images/photo-gallery-thumb-05.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'assets/images/photo-gallery-06.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'assets/images/photo-gallery-thumb-06.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'assets/images/photo-gallery-07.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'assets/images/photo-gallery-thumb-07.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'assets/images/photo-gallery-09.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'assets/images/photo-gallery-thumb-09.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'assets/images/photo-gallery-10.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'assets/images/photo-gallery-thumb-10.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'assets/images/photo-gallery-11.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'assets/images/photo-gallery-thumb-11.jpg' %}" alt="GALLERY">
				</a>
			</div>
		</div>
	</aside>


	<!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url({% static 'assets/images/bg-title-page-01.jpg' %});">
		<h2 class="tit6 t-center">
			Pato Menu
		</h2>
	</section>


	<!-- Main menu -->
<!--	<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">-->
<!--					<div class="wrap-item-mainmenu p-b-22">-->
<!--						<h3 class="tit-mainmenu tit10 p-b-25">-->
<!--							STARTERS-->
<!--						</h3>-->

<!--						&lt;!&ndash; Item mainmenu &ndash;&gt;-->
<!--						<div class="item-mainmenu m-b-36">-->
<!--							<div class="flex-w flex-b m-b-3">-->
<!--								<a href="#" class="name-item-mainmenu txt21">-->
<!--									Pine nut sbrisalona-->
<!--								</a>-->

<!--								<div class="line-item-mainmenu bg3-pattern"></div>-->

<!--								<div class="price-item-mainmenu txt22">-->
<!--									$29.79-->
<!--								</div>-->
<!--							</div>-->

<!--							<span class="info-item-mainmenu txt23">-->
<!--								Sed fermentum eros vitae eros-->
<!--							</span>-->
<!--						</div>-->

<!--						&lt;!&ndash; Item mainmenu &ndash;&gt;-->
<!--						<div class="item-mainmenu m-b-36">-->
<!--							<div class="flex-w flex-b m-b-3">-->
<!--								<a href="#" class="name-item-mainmenu txt21">-->
<!--									Aenean eu-->
<!--								</a>-->

<!--								<div class="line-item-mainmenu bg3-pattern"></div>-->

<!--								<div class="price-item-mainmenu txt22">-->
<!--									$19.35-->
<!--								</div>-->
<!--							</div>-->

<!--							<span class="info-item-mainmenu txt23">-->
<!--								Feugiat maximus neque pharetra-->
<!--							</span>-->
<!--						</div>-->

<!--						&lt;!&ndash; Item mainmenu &ndash;&gt;-->
<!--						<div class="item-mainmenu m-b-36">-->
<!--							<div class="flex-w flex-b m-b-3">-->
<!--								<a href="#" class="name-item-mainmenu txt21">-->
<!--									Sed feugiat-->
<!--								</a>-->

<!--								<div class="line-item-mainmenu bg3-pattern"></div>-->

<!--								<div class="price-item-mainmenu txt22">-->
<!--									$12.19-->
<!--								</div>-->
<!--							</div>-->

<!--							<span class="info-item-mainmenu txt23">-->
<!--								Proin lacinia nisl ut ultricies posuere nulla-->
<!--							</span>-->
<!--						</div>-->

<!--						&lt;!&ndash; Item mainmenu &ndash;&gt;-->
<!--						<div class="item-mainmenu m-b-36">-->
<!--							<div class="flex-w flex-b m-b-3">-->
<!--								<a href="#" class="name-item-mainmenu txt21">-->
<!--									Consectetur-->
<!--								</a>-->

<!--								<div class="line-item-mainmenu bg3-pattern"></div>-->

<!--								<div class="price-item-mainmenu txt22">-->
<!--									$21.89-->
<!--								</div>-->
<!--							</div>-->

<!--							<span class="info-item-mainmenu txt23">-->
<!--								Etiam cursus facilisis tortor-->
<!--							</span>-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="wrap-item-mainmenu p-b-22">-->
<!--						<h3 class="tit-mainmenu tit10 p-b-25">-->
<!--							Drinks-->
<!--						</h3>-->

<!--						&lt;!&ndash; Item mainmenu &ndash;&gt;-->
<!--						<div class="item-mainmenu m-b-36">-->
<!--							<div class="flex-w flex-b m-b-3">-->
<!--								<a href="#" class="name-item-mainmenu txt21">-->
<!--									Vivamus pretium-->
<!--								</a>-->

<!--								<div class="line-item-mainmenu bg3-pattern"></div>-->

<!--								<div class="price-item-mainmenu txt22">-->
<!--									$29.79-->
<!--								</div>-->
<!--							</div>-->

<!--							<span class="info-item-mainmenu txt23">-->
<!--								Sed fermentum eros vitae eros-->
<!--							</span>-->
<!--						</div>-->

<!--						&lt;!&ndash; Item mainmenu &ndash;&gt;-->
<!--						<div class="item-mainmenu m-b-36">-->
<!--							<div class="flex-w flex-b m-b-3">-->
<!--								<a href="#" class="name-item-mainmenu txt21">-->
<!--									Duis pharetra ligula-->
<!--								</a>-->

<!--								<div class="line-item-mainmenu bg3-pattern"></div>-->

<!--								<div class="price-item-mainmenu txt22">-->
<!--									$19.35-->
<!--								</div>-->
<!--							</div>-->

<!--							<span class="info-item-mainmenu txt23">-->
<!--								Feugiat maximus neque pharetra-->
<!--							</span>-->
<!--						</div>-->

<!--						&lt;!&ndash; Item mainmenu &ndash;&gt;-->
<!--						<div class="item-mainmenu m-b-36">-->
<!--							<div class="flex-w flex-b m-b-3">-->
<!--								<a href="#" class="name-item-mainmenu txt21">-->
<!--									In eu dolor-->
<!--								</a>-->

<!--								<div class="line-item-mainmenu bg3-pattern"></div>-->

<!--								<div class="price-item-mainmenu txt22">-->
<!--									$53.34-->
<!--								</div>-->
<!--							</div>-->

<!--							<span class="info-item-mainmenu txt23">-->
<!--								Proin lacinia nisl ut ultricies posuere nulla-->
<!--							</span>-->
<!--						</div>-->

<!--						&lt;!&ndash; Item mainmenu &ndash;&gt;-->
<!--						<div class="item-mainmenu m-b-36">-->
<!--							<div class="flex-w flex-b m-b-3">-->
<!--								<a href="#" class="name-item-mainmenu txt21">-->
<!--									Feugiat maximus-->
<!--								</a>-->

<!--								<div class="line-item-mainmenu bg3-pattern"></div>-->

<!--								<div class="price-item-mainmenu txt22">-->
<!--									$62.45-->
<!--								</div>-->
<!--							</div>-->

<!--							<span class="info-item-mainmenu txt23">-->
<!--								Sed fermentum eros vitae eros-->
<!--							</span>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

<!--&lt;!&ndash;				<div class="col-md-10 col-lg-6 p-l-35 p-l-15-lg m-l-r-auto">&ndash;&gt;-->
<!--&lt;!&ndash;					<div class="wrap-item-mainmenu p-b-22">&ndash;&gt;-->
<!--&lt;!&ndash;						<h3 class="tit-mainmenu tit10 p-b-25">&ndash;&gt;-->
<!--&lt;!&ndash;							Main&ndash;&gt;-->
<!--&lt;!&ndash;						</h3>&ndash;&gt;-->

<!--&lt;!&ndash;						&lt;!&ndash; Item mainmenu &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="item-mainmenu m-b-36">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="flex-w flex-b m-b-3">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href="#" class="name-item-mainmenu txt21">&ndash;&gt;-->
<!--&lt;!&ndash;									Duis sed aliquet&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="line-item-mainmenu bg3-pattern"></div>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="price-item-mainmenu txt22">&ndash;&gt;-->
<!--&lt;!&ndash;									$31.18&ndash;&gt;-->
<!--&lt;!&ndash;								</div>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->

<!--&lt;!&ndash;							<span class="info-item-mainmenu txt23">&ndash;&gt;-->
<!--&lt;!&ndash;								Proin lacinia nisl ut ultricies posuere nulla&ndash;&gt;-->
<!--&lt;!&ndash;							</span>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->

<!--&lt;!&ndash;						&lt;!&ndash; Item mainmenu &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="item-mainmenu m-b-36">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="flex-w flex-b m-b-3">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href="#" class="name-item-mainmenu txt21">&ndash;&gt;-->
<!--&lt;!&ndash;									Suspendisse&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="line-item-mainmenu bg3-pattern"></div>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="price-item-mainmenu txt22">&ndash;&gt;-->
<!--&lt;!&ndash;									$70.25&ndash;&gt;-->
<!--&lt;!&ndash;								</div>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->

<!--&lt;!&ndash;							<span class="info-item-mainmenu txt23">&ndash;&gt;-->
<!--&lt;!&ndash;								Feugiat maximus neque pharetra&ndash;&gt;-->
<!--&lt;!&ndash;							</span>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->

<!--&lt;!&ndash;						&lt;!&ndash; Item mainmenu &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="item-mainmenu m-b-36">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="flex-w flex-b m-b-3">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href="#" class="name-item-mainmenu txt21">&ndash;&gt;-->
<!--&lt;!&ndash;									Scelerisque sed&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="line-item-mainmenu bg3-pattern"></div>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="price-item-mainmenu txt22">&ndash;&gt;-->
<!--&lt;!&ndash;									$36.19&ndash;&gt;-->
<!--&lt;!&ndash;								</div>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->

<!--&lt;!&ndash;							<span class="info-item-mainmenu txt23">&ndash;&gt;-->
<!--&lt;!&ndash;								Etiam cursus facilisis tortor&ndash;&gt;-->
<!--&lt;!&ndash;							</span>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->

<!--&lt;!&ndash;						&lt;!&ndash; Item mainmenu &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="item-mainmenu m-b-36">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="flex-w flex-b m-b-3">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href="#" class="name-item-mainmenu txt21">&ndash;&gt;-->
<!--&lt;!&ndash;									Mollis nulla&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="line-item-mainmenu bg3-pattern"></div>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="price-item-mainmenu txt22">&ndash;&gt;-->
<!--&lt;!&ndash;									$19.50&ndash;&gt;-->
<!--&lt;!&ndash;								</div>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->

<!--&lt;!&ndash;							<span class="info-item-mainmenu txt23">&ndash;&gt;-->
<!--&lt;!&ndash;								Proin lacinia nisl ut ultricies posuere nulla&ndash;&gt;-->
<!--&lt;!&ndash;							</span>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->

<!--&lt;!&ndash;						&lt;!&ndash; Item mainmenu &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="item-mainmenu m-b-36">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="flex-w flex-b m-b-3">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href="#" class="name-item-mainmenu txt21">&ndash;&gt;-->
<!--&lt;!&ndash;									Convallis augue&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="line-item-mainmenu bg3-pattern"></div>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="price-item-mainmenu txt22">&ndash;&gt;-->
<!--&lt;!&ndash;									$29.15&ndash;&gt;-->
<!--&lt;!&ndash;								</div>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->

<!--&lt;!&ndash;							<span class="info-item-mainmenu txt23">&ndash;&gt;-->
<!--&lt;!&ndash;								Sed fermentum eros vitae eros&ndash;&gt;-->
<!--&lt;!&ndash;							</span>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->

<!--&lt;!&ndash;						&lt;!&ndash; Item mainmenu &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="item-mainmenu m-b-36">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="flex-w flex-b m-b-3">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href="#" class="name-item-mainmenu txt21">&ndash;&gt;-->
<!--&lt;!&ndash;									Maecenas tristique&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="line-item-mainmenu bg3-pattern"></div>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="price-item-mainmenu txt22">&ndash;&gt;-->
<!--&lt;!&ndash;									$29.79&ndash;&gt;-->
<!--&lt;!&ndash;								</div>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->

<!--&lt;!&ndash;							<span class="info-item-mainmenu txt23">&ndash;&gt;-->
<!--&lt;!&ndash;								Feugiat maximus neque pharetra&ndash;&gt;-->
<!--&lt;!&ndash;							</span>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->

<!--&lt;!&ndash;						&lt;!&ndash; Item mainmenu &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="item-mainmenu m-b-36">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="flex-w flex-b m-b-3">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href="#" class="name-item-mainmenu txt21">&ndash;&gt;-->
<!--&lt;!&ndash;									Duis tincidunt&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="line-item-mainmenu bg3-pattern"></div>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="price-item-mainmenu txt22">&ndash;&gt;-->
<!--&lt;!&ndash;									$19.35&ndash;&gt;-->
<!--&lt;!&ndash;								</div>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->

<!--&lt;!&ndash;							<span class="info-item-mainmenu txt23">&ndash;&gt;-->
<!--&lt;!&ndash;								Proin lacinia nisl ut ultricies posuere nulla&ndash;&gt;-->
<!--&lt;!&ndash;							</span>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->

<!--&lt;!&ndash;					<div class="wrap-item-mainmenu p-b-22">&ndash;&gt;-->
<!--&lt;!&ndash;						<h3 class="tit-mainmenu tit10 p-b-25">&ndash;&gt;-->
<!--&lt;!&ndash;							Dessert&ndash;&gt;-->
<!--&lt;!&ndash;						</h3>&ndash;&gt;-->

<!--&lt;!&ndash;						&lt;!&ndash; Item mainmenu &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="item-mainmenu m-b-36">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="flex-w flex-b m-b-3">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href="#" class="name-item-mainmenu txt21">&ndash;&gt;-->
<!--&lt;!&ndash;									tempus aliquet&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="line-item-mainmenu bg3-pattern"></div>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="price-item-mainmenu txt22">&ndash;&gt;-->
<!--&lt;!&ndash;									$9.79&ndash;&gt;-->
<!--&lt;!&ndash;								</div>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->

<!--&lt;!&ndash;							<span class="info-item-mainmenu txt23">&ndash;&gt;-->
<!--&lt;!&ndash;								Proin lacinia nisl ut ultricies posuere nulla&ndash;&gt;-->
<!--&lt;!&ndash;							</span>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->

<!--&lt;!&ndash;						&lt;!&ndash; Item mainmenu &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="item-mainmenu m-b-36">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="flex-w flex-b m-b-3">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href="#" class="name-item-mainmenu txt21">&ndash;&gt;-->
<!--&lt;!&ndash;									scelerisque&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="line-item-mainmenu bg3-pattern"></div>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="price-item-mainmenu txt22">&ndash;&gt;-->
<!--&lt;!&ndash;									$19.35&ndash;&gt;-->
<!--&lt;!&ndash;								</div>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->

<!--&lt;!&ndash;							<span class="info-item-mainmenu txt23">&ndash;&gt;-->
<!--&lt;!&ndash;								Sed fermentum eros vitae eros&ndash;&gt;-->
<!--&lt;!&ndash;							</span>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->

<!--&lt;!&ndash;						&lt;!&ndash; Item mainmenu &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="item-mainmenu m-b-36">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="flex-w flex-b m-b-3">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href="#" class="name-item-mainmenu txt21">&ndash;&gt;-->
<!--&lt;!&ndash;									Cras maximus&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="line-item-mainmenu bg3-pattern"></div>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="price-item-mainmenu txt22">&ndash;&gt;-->
<!--&lt;!&ndash;									$5.79&ndash;&gt;-->
<!--&lt;!&ndash;								</div>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->

<!--&lt;!&ndash;							<span class="info-item-mainmenu txt23">&ndash;&gt;-->
<!--&lt;!&ndash;								Duis pharetra ligula at urna dignissim&ndash;&gt;-->
<!--&lt;!&ndash;							</span>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->
<!--&lt;!&ndash;				</div>&ndash;&gt;-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->


	<!-- Lunch -->
	<section class="section-lunch bgwhite">


		<div class="container">
			<div class="row p-t-108 p-b-70">

				<div class="col-md-8 col-lg-6 m-l-r-auto">
					<!-- Block3 -->
					{% for i in data%}
					<div class="blo3 flex-w flex-col-l-sm m-b-30">
						<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
							<a href="#"><img src="{{i.ItemImage.url}}" alt="IMG-MENU"></a>
						</div>

						<div class="text-blo3 size21 flex-col-l-m">
							<a href="#" class="txt21 m-b-3">
								{{i.ItemName}}
							</a>

							<span class="txt23">
								{{i.ItemDescription}}
							</span>

							<span class="txt22 m-t-20">
								Rs.{{i.ItemPrice}}
							</span>
						</div>
					</div>
					{% endfor %}

			</div>

		</div>
	</section>


	<!-- Dinner -->
	<section class="section-dinner bgwhite">
<!--		<div class="header-dinner parallax0 parallax100" style="background-image: url({% static 'assets/images/header-menu-02.jpg' %});">-->
<!--			<div class="bg1-overlay t-center p-t-170 p-b-165">-->
<!--				<h2 class="tit4 t-center">-->
<!--					Dinner-->
<!--				</h2>-->
<!--			</div>-->
<!--		</div>-->

<!--		<div class="container">-->
<!--			<div class="row p-t-108 p-b-70">-->
<!--				<div class="col-md-8 col-lg-6 m-l-r-auto">-->
<!--					&lt;!&ndash; Block3 &ndash;&gt;-->
<!--					<div class="blo3 flex-w flex-col-l-sm m-b-30">-->
<!--						<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">-->
<!--							<a href="#"><img src="{% static 'assets/images/dinner-01.jpg' %}" alt="IMG-MENU"></a>-->
<!--						</div>-->

<!--						<div class="text-blo3 size21 flex-col-l-m">-->
<!--							<a href="#" class="txt21 m-b-3">-->
<!--								Maecenas tristique-->
<!--							</a>-->

<!--							<span class="txt23">-->
<!--								Aenean pharetra tortor dui in pellentesque-->
<!--							</span>-->

<!--							<span class="txt22 m-t-20">-->
<!--								$29.79-->
<!--							</span>-->
<!--						</div>-->
<!--					</div>-->

<!--					&lt;!&ndash; Block3 &ndash;&gt;-->
<!--					<div class="blo3 flex-w flex-col-l-sm m-b-30">-->
<!--						<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">-->
<!--							<a href="#"><img src="{% static 'assets/images/dinner-03.jpg' %}" alt="IMG-MENU"></a>-->
<!--						</div>-->

<!--						<div class="text-blo3 size21 flex-col-l-m">-->
<!--							<a href="#" class="txt21 m-b-3">-->
<!--								Pine nut sbrisalona-->
<!--							</a>-->

<!--							<span class="txt23">-->
<!--								Aenean condimentum ante erat-->
<!--							</span>-->

<!--							<span class="txt22 m-t-20">-->
<!--								$45.09-->
<!--							</span>-->
<!--						</div>-->
<!--					</div>-->

<!--					&lt;!&ndash; Block3 &ndash;&gt;-->
<!--					<div class="blo3 flex-w flex-col-l-sm m-b-30">-->
<!--						<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">-->
<!--							<a href="#"><img src="{% static 'assets/images/dinner-05.jpg' %}" alt="IMG-MENU"></a>-->
<!--						</div>-->

<!--						<div class="text-blo3 size21 flex-col-l-m">-->
<!--							<a href="#" class="txt21 m-b-3">-->
<!--								Suspendisse eu-->
<!--							</a>-->

<!--							<span class="txt23">-->
<!--								Proin lacinia nisl ut ultricies posuere nulla-->
<!--							</span>-->

<!--							<span class="txt22 m-t-20">-->
<!--								$12.75-->
<!--							</span>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="col-md-8 col-lg-6 m-l-r-auto">-->
<!--					&lt;!&ndash; Block3 &ndash;&gt;-->
<!--					<div class="blo3 flex-w flex-col-l-sm m-b-30">-->
<!--						<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">-->
<!--							<a href="#"><img src="{% static 'assets/images/dinner-02.jpg' %}" alt="IMG-MENU"></a>-->
<!--						</div>-->

<!--						<div class="text-blo3 size21 flex-col-l-m">-->
<!--							<a href="#" class="txt21 m-b-3">-->
<!--								Cras maximus-->
<!--							</a>-->

<!--							<span class="txt23">-->
<!--								Proin lacinia nisl ut ultricies posuere nulla-->
<!--							</span>-->

<!--							<span class="txt22 m-t-20">-->
<!--								$29.79-->
<!--							</span>-->
<!--						</div>-->
<!--					</div>-->

<!--					&lt;!&ndash; Block3 &ndash;&gt;-->
<!--					<div class="blo3 flex-w flex-col-l-sm m-b-30">-->
<!--						<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">-->
<!--							<a href="#"><img src="{% static 'assets/images/dinner-04.jpg' %}" alt="IMG-MENU"></a>-->
<!--						</div>-->

<!--						<div class="text-blo3 size21 flex-col-l-m">-->
<!--							<a href="#" class="txt21 m-b-3">-->
<!--								Pine nut sbrisalona-->
<!--							</a>-->

<!--							<span class="txt23">-->
<!--								Sed fermentum eros vitae eros-->
<!--							</span>-->

<!--							<span class="txt22 m-t-20">-->
<!--								$45.09-->
<!--							</span>-->
<!--						</div>-->
<!--					</div>-->

<!--					&lt;!&ndash; Block3 &ndash;&gt;-->
<!--					<div class="blo3 flex-w flex-col-l-sm m-b-30">-->
<!--						<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">-->
<!--							<a href="#"><img src="{% static 'assets/images/dinner-06.jpg' %}" alt="IMG-MENU"></a>-->
<!--						</div>-->

<!--						<div class="text-blo3 size21 flex-col-l-m">-->
<!--							<a href="#" class="txt21 m-b-3">-->
<!--								Tempor malesuada-->
<!--							</a>-->

<!--							<span class="txt23">-->
<!--								Duis massa nibh porttitor nec imperdiet eget-->
<!--							</span>-->

<!--							<span class="txt22 m-t-20">-->
<!--								$12.75-->
<!--							</span>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
	</section>


	<!-- Sign up -->
<!--	<div class="section-signup bg1-pattern p-t-85 p-b-85">-->
<!--		<form class="flex-c-m flex-w flex-col-c-m-lg p-l-5 p-r-5">-->
<!--			<span class="txt5 m-10">-->
<!--				Specials Sign up-->
<!--			</span>-->

<!--			<div class="wrap-input-signup size17 bo2 bo-rad-10 bgwhite pos-relative txt10 m-10">-->
<!--				<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email-address" placeholder="Email Adrress">-->
<!--				<i class="fa fa-envelope ab-r-m m-r-18" aria-hidden="true"></i>-->
<!--			</div>-->

<!--			&lt;!&ndash; Button3 &ndash;&gt;-->
<!--			<button type="submit" class="btn3 flex-c-m size18 txt11 trans-0-4 m-10">-->
<!--				Sign-up-->
<!--			</button>-->
<!--		</form>-->
<!--	</div>-->


	<!-- Footer -->
	<footer class="bg1">
		<div class="container p-t-40 p-b-70">
			<div class="row">
				<div class="col-sm-6 col-md-4 p-t-50">
					<!-- - -->
					<h4 class="txt13 m-b-33">
						Contact Us
					</h4>

					<ul class="m-b-70">
						<li class="txt14 m-b-14">
							<i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
							8th floor, 379 Hudson St, New York, NY 10018
						</li>

						<li class="txt14 m-b-14">
							<i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
							(+1) 96 716 6879
						</li>

						<li class="txt14 m-b-14">
							<i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
							contact@site.com
						</li>
					</ul>

					<!-- - -->
					<h4 class="txt13 m-b-32">
						Opening Times
					</h4>

					<ul>
						<li class="txt14">
							09:30 AM – 11:00 PM
						</li>

						<li class="txt14">
							Every Day
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-md-4 p-t-50">
					<!-- - -->
					<h4 class="txt13 m-b-33">
						Latest twitter
					</h4>

					<div class="m-b-25">
						<span class="fs-13 color2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</span>
						<a href="#" class="txt15">
							@colorlib
						</a>

						<p class="txt14 m-b-18">
							Activello is a good option. It has a slider built into that displays the featured image in the slider.
							<a href="#" class="txt15">
								https://buff.ly/2zaSfAQ
							</a>
						</p>

						<span class="txt16">
							21 Dec 2017
						</span>
					</div>

					<div>
						<span class="fs-13 color2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</span>
						<a href="#" class="txt15">
							@colorlib
						</a>

						<p class="txt14 m-b-18">
							Activello is a good option. It has a slider built into that displays
							<a href="#" class="txt15">
								https://buff.ly/2zaSfAQ
							</a>
						</p>

						<span class="txt16">
							21 Dec 2017
						</span>
					</div>
				</div>

				<div class="col-sm-6 col-md-4 p-t-50">
					<!-- - -->
					<h4 class="txt13 m-b-38">
						Gallery
					</h4>

					<!-- Gallery footer -->
					<div class="wrap-gallery-footer flex-w">
						<a class="item-gallery-footer wrap-pic-w" href="{% static 'assets/images/photo-gallery-01.jpg' %}" data-lightbox="gallery-footer">
							<img src="{% static 'assets/images/photo-gallery-thumb-01.jpg' %}" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="{% static 'assets/images/photo-gallery-02.jpg' %}" data-lightbox="gallery-footer">
							<img src="{% static 'assets/images/photo-gallery-thumb-02.jpg' %}" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="{% static 'assets/images/photo-gallery-03.jpg' %}" data-lightbox="gallery-footer">
							<img src="{% static 'assets/images/photo-gallery-thumb-03.jpg' %}" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="{% static 'assets/images/photo-gallery-04.jpg' %}" data-lightbox="gallery-footer">
							<img src="{% static 'assets/images/photo-gallery-thumb-04.jpg' %}" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="{% static 'assets/images/photo-gallery-05.jpg' %}" data-lightbox="gallery-footer">
							<img src="{% static 'assets/images/photo-gallery-thumb-05.jpg' %}" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="{% static 'assets/images/photo-gallery-06.jpg' %}" data-lightbox="gallery-footer">
							<img src="{% static 'assets/images/photo-gallery-thumb-06.jpg' %}" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="{% static 'assets/images/photo-gallery-07.jpg' %}" data-lightbox="gallery-footer">
							<img src="{% static 'assets/images/photo-gallery-thumb-07.jpg' %}" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="{% static 'assets/images/photo-gallery-08.jpg' %}" data-lightbox="gallery-footer">
							<img src="{% static 'assets/images/photo-gallery-thumb-08.jpg' %}" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="{% static 'assets/images/photo-gallery-09.jpg' %}" data-lightbox="gallery-footer">
							<img src="{% static 'assets/images/photo-gallery-thumb-09.jpg' %}" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="{% static 'assets/images/photo-gallery-10.jpg' %}" data-lightbox="gallery-footer">
							<img src="{% static 'assets/images/photo-gallery-thumb-10.jpg' %}" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="{% static 'assets/images/photo-gallery-11.jpg' %}" data-lightbox="gallery-footer">
							<img src="{% static 'assets/images/photo-gallery-thumb-11.jpg' %}" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="{% static 'assets/images/photo-gallery-12.jpg' %}" data-lightbox="gallery-footer">
							<img src="{% static 'assets/images/photo-gallery-thumb-12.jpg' %}" alt="GALLERY">
						</a>
					</div>

				</div>
			</div>
		</div>

		<div class="end-footer bg2">
			<div class="container">
				<div class="flex-sb-m flex-w p-t-22 p-b-22">
					<div class="p-t-5 p-b-5">
						<a href="#" class="fs-15 c-white"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
						<a href="#" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
						<a href="#" class="fs-15 c-white"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
					</div>

					<div class="txt17 p-r-20 p-t-5 p-b-5">
						Copyright &copy; 2018 All rights reserved  |  This template is made with <i class="fa fa-heart"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>


<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'assets/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'assets/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'assets/vendor/bootstrap/js/popper.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'assets/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'assets/vendor/daterangepicker/moment.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'assets/vendor/slick/slick.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'assets/vendor/parallax100/parallax100.js' %}"></script>
	<script type="text/javascript">
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'assets/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'assets/vendor/lightbox2/js/lightbox.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>
